.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.functionCard {
  margin-top: 10px;
  border: 1px solid #eda200;
}

.functionHead {
  display: block;
  text-align: center;
  background-color: #eda200;
  color: #f1f1f1;
}

.functionCode {
  display: inline-block;
  white-space: pre-wrap;
  padding-right: 5px;
}