.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 auto auto;
}

.slider {
  width: 700px;
  height: 400px;
  background-color: #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  display: inline-block;
  border: 2px solid black;
  width: 496px;
  height: 396px;
}

.rightArrow,
.leftArrow  {
  width: 50px;
  height: 180px;
  background-color: #00edaf;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

@media (min-width: 501px) and (max-width: 750px) {
  .slider {
    width: 500px;
    height: 330px;
  }

  .picture {
    width: 406px;
    height: 326px;
  }

  .rightArrow,
  .leftArrow {
    width: 25px;
    height: 140px;
    border-radius: 5px;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .slider {
    width: 320px;
    height: 210px;
  }

  .picture {
    width: 246px;
    height: 206px;
  }

  .rightArrow,
  .leftArrow {
    width: 30px;
    height: 100px;
    font-size: 14px;
    border-radius: 5px;
  }
}